/node_modules
.vercel
/.next/
/out/
/dist
/coverage
/cypress/screenshots
/build
publish.sh
publish.staging.sh
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
target
/src/tests/db/data.sql
/src/tests/db/schema.sql

# Misc
*.tsbuildinfo
/.pnp
.pnp.js
.yarn/install-state.gz
.DS_Store
*.pem
log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env.local
.env.development
.env.production
